Options -Indexes

<FilesMatch "\.(php|php3|php4|php5|phtml|phar|cgi|pl|asp|aspx|jsp|jspx|shtml)$">
    Require all denied
</FilesMatch>

RemoveHandler .php .php3 .php4 .php5 .phtml .phar .cgi .pl .asp .aspx .jsp .jspx .shtml
RemoveType .php .php3 .php4 .php5 .phtml .phar .cgi .pl .asp .aspx .jsp .jspx .shtml

<IfModule mod_php.c>
    php_flag engine off
</IfModule>
